body{
	background-color: #003456;
	margin: 0;	
	padding: 0;
}

h1{
	font-size: 200%;
	font-variant: small-caps;
}
 
nav a{
	color: white;
	display: inline-block;
	text-decoration: none;
	/*height: 30px;*/
	/*padding-top: 10px;*/
	font-size: 150%;
	padding-bottom: 10px;
	font-family:  "Berlin Sans FB";
	margin: 0;
	padding: 0;
}

nav ul{
	list-style: none;
	text-align: center;
	background-color: #000000;
	padding: 0;
	margin: 0;
}

nav li{
	display: inline-block;
	width: 23%;
	border-right: 3px solid #00ffff;
	line-height: 50px;
	margin: 0;
	padding: 10px 0 0 0;
}

nav li li{
	border-right: none;
	background-color: #000000;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 94%;
	padding-left: 20px;
}

nav li:last-child{
	border-right: none;
}

nav li ul{
	display: none;
	position: absolute;
	width:inherit;
}

nav li li{
	display: block;
}

nav li:hover{
	background-color: #003456;
}

nav li:hover ul{
	display: block;
	background-color: 
}

nav li li:hover{
	background-color: #0000ff;
}

section{
	color: #FFFFFF;
	margin-top: 0;
	margin-left: 0.5%;
	font-family: "Corbel";
}





